<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/styles/index.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>


<div th:replace="/fragments/nav-header"></div>
<div class="col-auto">
    <div class="text-center corner">
        <a th:if="${username}" href="/logout">Logout</a>
        <!--  Tis everthning Spring needs to wipe the session and log u out-->

        <a th:if="!${username}" href="/login">Log In</a>
        <br>
        <a th:if="!${username}">Sign Up</a>
    </div>
    <table class="table table-bordered">
        <!--        <caption>Users</caption>-->
        <thead class="thead-dark">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Role</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${username}">
            <td th:text="${fName}">John</td>
            <td th:text="${lName}">Doe</td>
            <td th:text="${role}">Does</td>
            <td><img th:src="@{${photo}}"></img></td>
            <td colspan="2">
                <a th:href="@{/users/}+${id}" th:text="${'Edit profile for '+fName}">edit</a>
            </td>

            <ul th:each="m: ${messages}">
                <li th:text=" ${m.createdAt} + ' # '+${m.name} +'  '+ ${m.body}"></li>
            </ul>
        </tr>
        </tbody>
    </table>


</div>

</body>
</html>
